.br_1 {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid
}
BODY {
	LINE-HEIGHT: 17px; MARGIN: 0px; FONT-FAMILY: arial, helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 0.72em
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A:link {
	COLOR: #2b2b2b; TEXT-DECORATION: underline
}
#navEZPagesTOC UL LI A {
	COLOR: #2b2b2b; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #2b2b2b; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #2b2b2b; TEXT-DECORATION: none
}
#navEZPagesTOC UL LI A:hover {
	COLOR: #2b2b2b; TEXT-DECORATION: none
}
#navMain UL LI A:hover {
	COLOR: #2b2b2b; TEXT-DECORATION: none
}
#navSupp UL LI A:hover {
	COLOR: #2b2b2b; TEXT-DECORATION: none
}
#navCatTabs UL LI A:hover {
	COLOR: #2b2b2b; TEXT-DECORATION: none
}
A:active {
	COLOR: #2b2b2b
}
.blue-link A {
	COLOR: #0075e2
}
.columnLeft A {
	TEXT-DECORATION: none
}
.columnRight A {
	TEXT-DECORATION: none
}
.columnLeft A:hover {
	TEXT-DECORATION: underline
}
.columnRight A:hover {
	TEXT-DECORATION: underline
}
#columnCenter {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 14px
}
H1 {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 17px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 24px Arial; COLOR: #4e637e; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 5px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; DISPLAY: block; FONT: bold 18px tahoma; PADDING-TOP: 15px !important
}
H3 {
	PADDING-BOTTOM: 10px; FONT-SIZE: 1.3em
}
H4 {
	FONT-SIZE: 1em
}
H5 {
	FONT-SIZE: 1em
}
H6 {
	FONT-SIZE: 1em
}
LABEL {
	FONT-SIZE: 1em
}
H4.optionName {
	FONT-SIZE: 1em
}
LEGEND {
	FONT-SIZE: 1em
}
ADDRESS {
	FONT-SIZE: 1em
}
.sideBoxContent {
	FONT-SIZE: 1em
}
.larger {
	FONT-SIZE: 1em
}
.biggerText {
	FONT-SIZE: 1.2em
}
H1 {
	MARGIN: 0.3em 0px
}
H2 {
	MARGIN: 0.3em 0px
}
H3 {
	MARGIN: 0.3em 0px
}
H4 {
	MARGIN: 0.3em 0px
}
H5 {
	MARGIN: 0.3em 0px
}
H6 {
	MARGIN: 0.3em 0px
}
CODE {
	FONT-FAMILY: arial, verdana, helvetica, sans-serif; FONT-SIZE: 1em
}
FORM {
	MARGIN: 0.1em; FONT-SIZE: 12px
}
SELECT {
	MARGIN: 0.1em; FONT-SIZE: 12px
}
INPUT {
	MARGIN: 0.1em; FONT-SIZE: 12px
}
TEXTAREA {
	MARGIN: auto; WIDTH: 980px; DISPLAY: block
}
* + HTML FIELDSET {
	BORDER-BOTTOM: #d6d6d6 1px solid; BORDER-LEFT: #d6d6d6 1px solid; PADDING-BOTTOM: 13px; MARGIN: 3px 0px 12px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; BORDER-TOP: #d6d6d6 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 13px
}
FIELDSET {
	BORDER-BOTTOM: #d6d6d6 1px solid; BORDER-LEFT: #d6d6d6 1px solid; PADDING-BOTTOM: 13px; MARGIN: 10px 0px 17px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; BORDER-TOP: #d6d6d6 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 13px
}
LEGEND {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FONT: bold 12px Verdana; BACKGROUND: #f3f3f7; COLOR: #4e6a96; PADDING-TOP: 4px
}
LABEL {
	PADDING-BOTTOM: 0.2em; LINE-HEIGHT: 23px; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; PADDING-TOP: 0.2em
}
H4.optionName {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; FONT: bold 11px verdana; PADDING-TOP: 0px
}
LABEL.checkboxLabel {
	MARGIN: 0.5em 0.3em
}
LABEL.radioButtonLabel {
	MARGIN: 0.5em 0.3em
}
#logo {
	FLOAT: left
}
.centerBoxContents {
	FLOAT: left
}
.specialsListBoxContents {
	FLOAT: left
}
.categoryListBoxContents {
	FLOAT: left
}
.centerBoxContentsAlsoPurch {
	FLOAT: left
}
.attribImg {
	FLOAT: left
}
LABEL.inputLabel {
	WIDTH: 9em; FLOAT: left
}
LABEL.inputLabelPayment {
	PADDING-LEFT: 2.5em; WIDTH: 14em; FLOAT: left
}
LABEL.selectLabel {
	WIDTH: 11em; FLOAT: left
}
LABEL.switchedLabel {
	WIDTH: 11em; FLOAT: left
}
LABEL.uploadsLabel {
	WIDTH: 11em; FLOAT: left
}
#checkoutPayment LABEL.radioButtonLabel {
	FONT-WEIGHT: bold
}
P {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.5em
}
ADDRESS {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.5em
}
ADDRESS {
	FONT-STYLE: normal
}
.clearBoth {
	CLEAR: both
}
HR {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: medium none; MARGIN: 5px 0px; HEIGHT: 1px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.dotted-line {
	BACKGROUND: url(../images/dotted_line.gif) repeat-x 0px 0px; HEIGHT: 1px
}
.float-right {
	FLOAT: right
}
.float-left {
	FLOAT: left
}
.list-style-none {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.inline-list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.align-center {
	TEXT-ALIGN: center !important; MARGIN: auto
}
.messageStackWarning {
	BORDER-BOTTOM: #9a9a9a 1px solid; BORDER-LEFT: #9a9a9a 1px solid; PADDING-BOTTOM: 0.3em; LINE-HEIGHT: 1.8em; MARGIN: 0px 10px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; BORDER-TOP: #9a9a9a 1px solid; BORDER-RIGHT: #9a9a9a 1px solid; PADDING-TOP: 0.3em
}
.messageStackError {
	BORDER-BOTTOM: #9a9a9a 1px solid; BORDER-LEFT: #9a9a9a 1px solid; PADDING-BOTTOM: 0.3em; LINE-HEIGHT: 1.8em; MARGIN: 0px 10px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; BORDER-TOP: #9a9a9a 1px solid; BORDER-RIGHT: #9a9a9a 1px solid; PADDING-TOP: 0.3em
}
.messageStackSuccess {
	BORDER-BOTTOM: #9a9a9a 1px solid; BORDER-LEFT: #9a9a9a 1px solid; PADDING-BOTTOM: 0.3em; LINE-HEIGHT: 1.8em; MARGIN: 0px 10px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; BORDER-TOP: #9a9a9a 1px solid; BORDER-RIGHT: #9a9a9a 1px solid; PADDING-TOP: 0.3em
}
.messageStackCaution {
	BORDER-BOTTOM: #9a9a9a 1px solid; BORDER-LEFT: #9a9a9a 1px solid; PADDING-BOTTOM: 0.3em; LINE-HEIGHT: 1.8em; MARGIN: 0px 10px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; BORDER-TOP: #9a9a9a 1px solid; BORDER-RIGHT: #9a9a9a 1px solid; PADDING-TOP: 0.3em
}
.messageStackWarning {
	BACKGROUND-COLOR: #cf0000; COLOR: #ffffff
}
.messageStackError {
	BACKGROUND-COLOR: #cf0000; COLOR: #ffffff
}
.messageStackSuccess {
	BORDER-BOTTOM: #d0e46e 1px solid; BORDER-LEFT: #d0e46e 1px solid; BACKGROUND-COLOR: #e0f8b6; COLOR: #000000; BORDER-TOP: #d0e46e 1px solid; BORDER-RIGHT: #d0e46e 1px solid
}
.messageStackCaution {
	BACKGROUND-COLOR: #ffe3a8; COLOR: #000000
}
#mainWrapper {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #ffffff; WIDTH: 960px; VERTICAL-ALIGN: top
}
#headerWrapper {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#contentMainWrapper {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#logoWrapper {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#cartBoxListWrapper {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#ezPageBoxList {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#cartBoxListWrapper UL {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#ezPageBoxList UL {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#mainWrapper {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#popupAdditionalImage {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
#popupImage {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
.topper-menu LI {
	MARGIN: 9px 2px 0px 14px; FONT: 11px verdana; FLOAT: left
}
#logoWrapper {
	BACKGROUND-COLOR: #ffffff
}
.all_wd {
	MARGIN-TOP: 20px; WIDTH: 980px
}
.logo_lf {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0.6em
}
#logo_01 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0.6em
}
#navColumnOneWrapper {
	MARGIN: auto
}
#navColumnTwoWrapper {
	MARGIN: auto
}
#mainWrapper {
	MARGIN: auto
}
#navColumnOneWrapper {
	MARGIN-LEFT: 0.2em; MARGIN-RIGHT: 0.2em
}
#navColumnTwoWrapper {
	MARGIN-LEFT: 0.2em; MARGIN-RIGHT: 0.2em
}
#tagline {
	FLOAT: left
}
#tagline_header {
	BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0.7em 1em; PADDING-LEFT: 1em; PADDING-RIGHT: 0px; FONT: bold 20px arial; COLOR: #888888; PADDING-TOP: 0px
}
#sendSpendWrapper {
	BORDER-BOTTOM: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; MARGIN: 0em 0em 1em 1em; FLOAT: right; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid
}
.floatingBox {
	MARGIN: 0px; WIDTH: 44%
}
#accountLinksWrapper {
	MARGIN: 0px; WIDTH: 44%
}
#sendSpendWrapper {
	MARGIN: 0px; WIDTH: 44%
}
#checkoutShipto {
	MARGIN: 0px; WIDTH: 44%
}
#checkoutBillto {
	MARGIN: 0px; WIDTH: 44%
}
#navEZPagesTOCWrapper {
	MARGIN: 0px; WIDTH: 44%
}
.wrapperAttribsOptions {
	MARGIN: 0.3em 0em
}
.current {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 15px; PADDING-TOP: 2px
}
.navSplitPagesLinks {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.navSplitPagesResult {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.navSplitPagesLinks A {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #0075e2; PADDING-TOP: 2px
}
.navNextPrevCounter {
	MARGIN: 0em; FONT-SIZE: 0.9em
}
.navNextPrevList {
	PADDING-BOTTOM: 0.5em; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; DISPLAY: inline; WHITE-SPACE: nowrap; PADDING-TOP: 0.5em
}
#navMainWrapper {
	BACKGROUND-IMAGE: url(../images/tile_back.gif); PADDING-BOTTOM: 0.5em; MARGIN: 0em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; HEIGHT: 1%; FONT-WEIGHT: bold; PADDING-TOP: 0.5em
}
#navSuppWrapper {
	BACKGROUND-IMAGE: url(../images/tile_back.gif); PADDING-BOTTOM: 0.5em; MARGIN: 0em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; HEIGHT: 1%; FONT-WEIGHT: bold; PADDING-TOP: 0.5em
}
#navCatTabsWrapper {
	BACKGROUND-IMAGE: url(../images/tile_back.gif); PADDING-BOTTOM: 0.5em; MARGIN: 0em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; HEIGHT: 1%; FONT-WEIGHT: bold; PADDING-TOP: 0.5em
}
#navSuppWrapper {
	PADDING-BOTTOM: 12px; MARGIN: 25px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #cecece 2px solid; PADDING-TOP: 12px
}
#navCatTabsWrapper {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #ffffff; COLOR: #9a9a9a
}
#navMain UL {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0.5em; LINE-HEIGHT: 1.5em; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
#navCatTabs UL {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0.5em; LINE-HEIGHT: 1.5em; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
#navMain UL LI {
	DISPLAY: inline
}
#navCatTabs UL LI {
	DISPLAY: inline
}
.footer-links LI {
	MARGIN: 0px 2px 0px 14px; FONT: 11px verdana; FLOAT: left
}
#navMain UL LI A {
	PADDING-BOTTOM: 0em; MARGIN: 0px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; WHITE-SPACE: nowrap; COLOR: #ffffff; TEXT-DECORATION: none; PADDING-TOP: 0em
}
#navCatTabs UL LI A {
	PADDING-BOTTOM: 0em; MARGIN: 0px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; WHITE-SPACE: nowrap; COLOR: #ffffff; TEXT-DECORATION: none; PADDING-TOP: 0em
}
.legalCopyright {
	FONT: 11px verdana; FLOAT: left
}
#navCatTabs UL LI A {
	COLOR: #9a9a9a
}
#navEZPagesTOCWrapper {
	BORDER-BOTTOM: #9a9a9a 1px solid; BORDER-LEFT: #9a9a9a 1px solid; FLOAT: right; HEIGHT: 1%; BORDER-TOP: #9a9a9a 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #9a9a9a 1px solid
}
#navEZPagesTOC UL {
	PADDING-BOTTOM: 0.5em; LINE-HEIGHT: 1.5em; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
#navEZPagesTOC UL LI {
	WHITE-SPACE: nowrap
}
#navEZPagesTOC UL LI A {
	PADDING-BOTTOM: 0em; MARGIN: 0px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0em
}
#navCategoryIcon {
	MARGIN: 0.5em
}
.buttonRow {
	MARGIN: 0.5em
}
#indexProductListCatDescription {
	MARGIN: 0.5em
}
#navMainSearch {
	FLOAT: right
}
#navBreadCrumb {
	PADDING-BOTTOM: 0px; MARGIN: 0em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; FONT: 11px tahoma; COLOR: #999999; PADDING-TOP: 0px
}
#navBreadCrumb A {
	COLOR: #999999
}
#top_nav {
	MARGIN: 0em; FONT: bold 14px arial; BACKGROUND: url(../images/ezpages_bg.gif) #777777; HEIGHT: 39px
}
#tab_nav A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#tab_nav LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg_tabs_left.gif) no-repeat 0px 0px; FLOAT: left; BORDER-RIGHT: #527833 1px solid; PADDING-TOP: 0px
}
#tab_nav LI A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 18px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(../images/bg_tabs_right.gif) no-repeat right 0px; PADDING-TOP: 10px
}
#tab_nav LI:hover {
	BACKGROUND-POSITION: left -40px
}
#tab_nav LI:hover A {
	BACKGROUND-POSITION: right -40px
}
#tab_nav #tab_active {
	BACKGROUND-POSITION: 0px -78px
}
#tab_nav #tab_active A {
	BACKGROUND-POSITION: right -78px
}
#tab_nav LI.home-link {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#tab_nav LI.home-link A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 18px; WIDTH: 2px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(../images/home_tab.gif) no-repeat left 0px; HEIGHT: 27px; PADDING-TOP: 0px
}
#tab_nav LI.home-link:hover A {
	BACKGROUND-POSITION: left -39px
}
.yuyanshoese {
	MARGIN-TOP: 8px; PADDING-LEFT: 25px; WIDTH: 160px; DISPLAY: inline; FLOAT: right
}
.yuyanshoese LI {
	PADDING-RIGHT: 6px; FLOAT: left
}
#login_logout_section {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; FONT: 11px verdana; PADDING-TOP: 11px
}
#login_logout_section A {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; FONT: 11px verdana; PADDING-TOP: 11px
}
#login_logout_section A:hover {
	TEXT-DECORATION: non
}
.top-nav-right {
	WIDTH: 6px; BACKGROUND: url(../images/top_nav_right_bg.gif) right top; FLOAT: right; HEIGHT: 39px
}
.top-nav-left {
	WIDTH: 6px; BACKGROUND: url(../images/top_nav_left_bg.gif) left top; FLOAT: left; HEIGHT: 39px
}
#navColumnOne {
	BACKGROUND-COLOR: transparent
}
#navColumnTwo {
	BACKGROUND-COLOR: transparent
}
#tools_wrapper {
	PADDING-BOTTOM: 3px; MARGIN: 0px 4px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #f5fadd; HEIGHT: 28px; PADDING-TOP: 2px
}
.line-header {
	MARGIN: 0px 4px
}
.search-header-input {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/search_header_bg.gif) no-repeat left top; FLOAT: left; HEIGHT: 21px; PADDING-TOP: 1px
}
.search-header {
	MARGIN: 3px 0px
}
.search-header INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #696969; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.search-header FORM {
	FLOAT: left
}
.search-header INPUT:focus {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.advanced_search {
	PADDING-BOTTOM: 2px; MARGIN: 4px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.advanced_search A {
	FONT: 11px Verdana; COLOR: #757575; TEXT-DECORATION: none
}
.advanced_search A:hover {
	TEXT-DECORATION: underline
}
.cart-header {
	PADDING-BOTTOM: 1px; MARGIN: 2px auto 3px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #e8f6b6; PADDING-TOP: 1px
}
.cart-header SPAN {
	FONT-WEIGHT: bold
}
.cart-icon {
	MARGIN: 1px 6px 0px 0px; WIDTH: 16px; HEIGHT: 15px
}
.full {
	BACKGROUND: url(../images/cart_full_icon.gif) no-repeat left top
}
.empty {
	BACKGROUND: url(../images/cart_empty_icon.gif) no-repeat left top
}
.td-search-header {
	WIDTH: 303px
}
.td-languages {
	WIDTH: 303px
}
.languages-wrapper SELECT {
	FONT: 11px tahoma, arial
}
.languages-wrapper {
	FONT: 11px tahoma, arial
}
.languages-wrapper SELECT {
	HEIGHT: 18px
}
.languages-wrapper FORM {
	FLOAT: right
}
.languages-wrapper LABEL {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 17px !important; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
#contentColumnMain {
	VERTICAL-ALIGN: top
}
#navColumnOne {
	VERTICAL-ALIGN: top
}
#navColumnTwo {
	VERTICAL-ALIGN: top
}
.centerBoxContents {
	VERTICAL-ALIGN: top
}
.specialsListBoxContents {
	VERTICAL-ALIGN: top
}
.categoryListBoxContents {
	VERTICAL-ALIGN: top
}
.additionalImages {
	VERTICAL-ALIGN: top
}
.centerBoxContentsSpecials {
	VERTICAL-ALIGN: top
}
.centerBoxContentsAlsoPurch {
	VERTICAL-ALIGN: top
}
.centerBoxContentsFeatured {
	VERTICAL-ALIGN: top
}
.centerBoxContentsNew {
	VERTICAL-ALIGN: top
}
.alert {
	VERTICAL-ALIGN: top
}
#productDescription {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; FONT-SIZE: 13px !important; PADDING-TOP: 0.2em
}
.shippingEstimatorWrapper {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; FONT-SIZE: 13px !important; PADDING-TOP: 0.2em
}
#productAttributes {
	BORDER-BOTTOM: #f3ecd9 1px solid; BORDER-LEFT: #f3ecd9 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; BACKGROUND: #fcfcea; BORDER-TOP: #f3ecd9 1px solid; BORDER-RIGHT: #f3ecd9 1px solid; PADDING-TOP: 10px
}
.alert {
	COLOR: #ff0000; MARGIN-LEFT: 0.5em
}
.advisory {
	
}
.important {
	FONT-WEIGHT: bold
}
.notice {
	
}
.rating {
	
}
.gvBal {
	FLOAT: right
}
.centerColumn {
	PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; PADDING-TOP: 0.8em
}
#bannerOne {
	PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; PADDING-TOP: 0.8em
}
#bannerTwo {
	PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; PADDING-TOP: 0.8em
}
#bannerThree {
	PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; PADDING-TOP: 0.8em
}
#bannerFour {
	PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; PADDING-TOP: 0.8em
}
#bannerFive {
	PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; PADDING-TOP: 0.8em
}
#bannerSix {
	PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; PADDING-TOP: 0.8em
}
.centerColumn {
	PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.4em; PADDING-RIGHT: 0.4em; PADDING-TOP: 0.8em
}
.smallText {
	FONT-SIZE: 0.9em
}
#siteinfoLegal {
	FONT-SIZE: 0.9em
}
#siteinfoCredits {
	FONT-SIZE: 0.9em
}
#siteinfoStatus {
	FONT-SIZE: 0.9em
}
#siteinfoIP {
	FONT-SIZE: 0.9em
}
#siteinfoIP {
	FLOAT: left
}
.centerBoxContentsSpecials A {
	MARGIN: 1px 8px; COLOR: #478a00
}
.centerBoxContentsAlsoPurch A {
	MARGIN: 1px 8px; COLOR: #478a00
}
.centerBoxContentsFeatured A {
	MARGIN: 1px 8px; COLOR: #478a00
}
.centerBoxContentsNew A {
	MARGIN: 1px 8px; COLOR: #478a00
}
.specialsListBoxContents A {
	MARGIN: 1px 8px; COLOR: #478a00
}
#cartAdd {
	BORDER-BOTTOM: #e2e2e2 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 1em; MARGIN: 1em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; BACKGROUND: #f8f8f8; FLOAT: right; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 1em
}
.tableHeading TH {
	BORDER-BOTTOM: #aaaaaa 1px solid
}
.tableHeading {
	BACKGROUND-COLOR: #e9e9e9
}
#cartSubTotal {
	BACKGROUND-COLOR: #e9e9e9
}
#cartSubTotal {
	TEXT-ALIGN: right; LINE-HEIGHT: 2.2em; PADDING-RIGHT: 2.5em; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold
}
.tableRow {
	HEIGHT: 2.2em
}
.tableHeading {
	HEIGHT: 2.2em
}
#cartSubTotal {
	HEIGHT: 2.2em
}
.cartProductDisplay {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
.cartUnitDisplay {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
.cartTotalDisplay {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
.cartRemoveItemDisplay {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
.cartQuantityUpdate {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
.cartQuantity {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
#cartInstructionsDisplay {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
.cartTotalsDisplay {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.5em
}
.cartUnitDisplay {
	TEXT-ALIGN: right; PADDING-RIGHT: 0.2em
}
.cartTotalDisplay {
	TEXT-ALIGN: right; PADDING-RIGHT: 0.2em
}
#scUpdateQuantity {
	WIDTH: 2em
}
.cartQuantity {
	WIDTH: 4.7em
}
.cartNewItem {
	POSITION: relative
}
.cartOldItem {
	POSITION: relative
}
#cartBoxListWrapper A {
	COLOR: #478a00
}
.cartBoxTotal {
	TEXT-ALIGN: right; FONT-WEIGHT: bold
}
.cartRemoveItemDisplay {
	WIDTH: 3.5em
}
.cartAttribsList {
	MARGIN-LEFT: 1em
}
#mediaManager {
	BORDER-BOTTOM: #f3ecd9 1px solid; BORDER-LEFT: #f3ecd9 1px solid; PADDING-BOTTOM: 0.7em; MARGIN: 0.2em; PADDING-LEFT: 0.7em; WIDTH: 50%; PADDING-RIGHT: 0.7em; BACKGROUND: #fcfcea; BORDER-TOP: #f3ecd9 1px solid; BORDER-RIGHT: #f3ecd9 1px solid; PADDING-TOP: 0.7em
}
#mediaManagerHeading {
	MARGIN-TOP: 5px; PADDING-TOP: 0px !important
}
.mediaTitle {
	FLOAT: left
}
.mediaTypeLink {
	FLOAT: right
}
.normalprice {
	COLOR: #888888; TEXT-DECORATION: line-through
}
.productSpecialPriceSale {
	COLOR: #888888; TEXT-DECORATION: line-through
}
.productSpecialPrice {
	COLOR: #a30101
}
.productSalePrice {
	COLOR: #a30101
}
.productSpecialPriceSale {
	COLOR: #a30101
}
.productPriceDiscount {
	COLOR: #a30101
}
#productPrices {
	MARGIN: 0px 0px 6px; DISPLAY: block; FONT: bold 16px arial; COLOR: #a30101
}
#reviewsInfoDefaultPrice {
	MARGIN: 0px 0px 6px; DISPLAY: block; FONT: bold 16px arial; COLOR: #a30101
}
.orderHistList {
	PADDING-BOTTOM: 0.2em; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.2em
}
#cartBoxListWrapper UL {
	LIST-STYLE-TYPE: none
}
#ezPageBoxList UL {
	LIST-STYLE-TYPE: none
}
#cartBoxListWrapper LI {
	PADDING-BOTTOM: 0.2em; MARGIN: 0px; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.2em
}
#ezPageBoxList LI {
	PADDING-BOTTOM: 0.2em; MARGIN: 0px; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.2em
}
.cartBoxTotal {
	PADDING-BOTTOM: 0.2em; MARGIN: 0px; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; PADDING-TOP: 0.2em
}
#cartBoxEmpty {
	FONT-WEIGHT: bold
}
#cartBoxVoucherBalance {
	FONT-WEIGHT: bold
}
.totalBox {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; WIDTH: 5.5em; PADDING-RIGHT: 0.2em; PADDING-TOP: 0.2em
}
.lineTitle {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; PADDING-TOP: 0.2em
}
.amount {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; PADDING-TOP: 0.2em
}
.amount {
	WIDTH: 5.5em
}
#productMainImage {
	MARGIN: 0px 15px 15px 10px
}
#reviewsInfoDefaultProductImage {
	MARGIN: 0px 15px 15px 10px
}
#productReviewsDefaultProductImage {
	MARGIN: 0px 15px 15px 10px
}
#reviewWriteMainImage {
	MARGIN: 0px 15px 15px 10px
}
.categoryIcon {
	
}
#cartImage {
	MARGIN: 0.5em 1em
}
.attribImg {
	MARGIN: 0.3em 0em; WIDTH: 20%
}
.attributesComments {
	MARGIN: 10px 0px; COLOR: #83785c
}
.centerBoxContents {
	MARGIN: 1em 0em
}
.specialsListBoxContents {
	MARGIN: 1em 0em
}
.categoryListBoxContents {
	MARGIN: 1em 0em
}
.additionalImages {
	MARGIN: 1em 0em
}
.centerBoxContentsSpecials {
	MARGIN: 1em 0em
}
.centerBoxContentsAlsoPurch {
	MARGIN: 1em 0em
}
.centerBoxContentsFeatured {
	MARGIN: 1em 0em
}
.centerBoxContentsNew {
	MARGIN: 1em 0em
}
.centerBoxWrapper {
	MARGIN: 27px 0px; HEIGHT: 1%
}
H2.centerBoxHeading {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 2px; MARGIN: 24px 0px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 20px Arial; COLOR: #4e637e; PADDING-TOP: 0px
}
.centerBoxWrapper H2 {
	MARGIN: 0px 0px 15px
}
.columnLeft {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 28px; PADDING-TOP: 0px
}
.columnRight {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 28px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3.leftBoxHeading {
	FONT: bold 1.1em arial; BACKGROUND: url(../images/sidebox_right.gif) no-repeat right top; COLOR: #ffffff
}
H3.rightBoxHeading {
	FONT: bold 1.1em arial; BACKGROUND: url(../images/sidebox_right.gif) no-repeat right top; COLOR: #ffffff
}
H3.leftBoxHeading {
	BACKGROUND: url(../images/sidebox_right.gif) no-repeat right top; COLOR: #ffffff
}
H3.rightBoxHeading {
	BACKGROUND: url(../images/sidebox_right.gif) no-repeat right top; COLOR: #ffffff
}
H3.leftBoxHeading A {
	FONT: 11px verdana, arial; COLOR: #ffffff; TEXT-DECORATION: underline
}
H3.rightBoxHeading A {
	FONT: 11px verdana, arial; COLOR: #ffffff; TEXT-DECORATION: underline
}
H3.leftBoxHeading A:hover {
	COLOR: #ffff33; TEXT-DECORATION: none
}
H3.rightBoxHeading A:hover {
	COLOR: #ffff33; TEXT-DECORATION: none
}
.sidebox-header-left {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.main-sidebox-header-left {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0px; BACKGROUND: url(../images/main_sidebox_left.gif) no-repeat left top; PADDING-TOP: 0px
}
.main-sidebox-header-right {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0px; BACKGROUND: url(../images/main_sidebox_right.gif) no-repeat right top; PADDING-TOP: 0px
}
#manufacturersHeading {
	FONT: bold 1.1em arial; COLOR: #ffffff
}
#currenciesHeading {
	FONT: bold 1.1em arial; COLOR: #ffffff
}
#musicgenresHeading {
	FONT: bold 1.1em arial; COLOR: #ffffff
}
#recordcompaniesHeading {
	FONT: bold 1.1em arial; COLOR: #ffffff
}
#searchHeading {
	FONT: bold 1.1em arial; COLOR: #ffffff
}
#search-headerHeading {
	FONT: bold 1.1em arial; COLOR: #ffffff
}
.leftBoxHeading {
	BACKGROUND-IMAGE: url(../images/tile_back.gif); PADDING-BOTTOM: 0.4em !important; BACKGROUND-COLOR: #abbbd3; MARGIN: 0em; PADDING-LEFT: 0.4em !important; PADDING-RIGHT: 0.3em !important; PADDING-TOP: 0.4em !important
}
.rightBoxHeading {
	BACKGROUND-IMAGE: url(../images/tile_back.gif); PADDING-BOTTOM: 0.4em !important; BACKGROUND-COLOR: #abbbd3; MARGIN: 0em; PADDING-LEFT: 0.4em !important; PADDING-RIGHT: 0.3em !important; PADDING-TOP: 0.4em !important
}
.leftBoxHeading LABEL {
	LINE-HEIGHT: 16px
}
.rightBoxHeading LABEL {
	LINE-HEIGHT: 16px
}
.leftBoxContainer {
	MARGIN: 16px 0px 4px
}
.rightBoxContainer {
	MARGIN: 16px 0px 4px
}
.sideBoxContent {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 0.7em; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 0.9em; PADDING-RIGHT: 0.9em; BORDER-TOP: medium none; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 0.7em
}
.sideBoxContent A {
	FONT: 11px/17px verdana; COLOR: #454545
}
.sideBoxContent DIV {
	FONT: 11px/17px verdana; COLOR: #454545
}
.rightBoxContainer DIV {
	FONT: 11px/17px verdana; COLOR: #454545
}
.leftBoxContainer DIV {
	FONT: 11px/17px verdana; COLOR: #454545
}
.sidebox-products {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #478a00 !important; PADDING-TOP: 2px
}
#shoppingcartContent {
	BACKGROUND: #f9fbee
}
.rightBoxHeading A:visited {
	COLOR: #ffffff
}
.leftBoxHeading A:visited {
	COLOR: #ffffff
}
.centerBoxHeading A:visited {
	COLOR: #ffffff
}
.centeredContent {
	TEXT-ALIGN: center
}
TH {
	TEXT-ALIGN: center
}
#cartEmptyText {
	TEXT-ALIGN: center
}
#cartBoxGVButton {
	TEXT-ALIGN: center
}
#cartBoxEmpty {
	TEXT-ALIGN: center
}
#cartBoxVoucherBalance {
	TEXT-ALIGN: center
}
#navCatTabsWrapper {
	TEXT-ALIGN: center
}
#navEZPageNextPrev {
	TEXT-ALIGN: center
}
#bannerOne {
	TEXT-ALIGN: center
}
#bannerTwo {
	TEXT-ALIGN: center
}
#bannerThree {
	TEXT-ALIGN: center
}
#bannerFour {
	TEXT-ALIGN: center
}
#bannerFive {
	TEXT-ALIGN: center
}
#bannerSix {
	TEXT-ALIGN: center
}
#siteinfoCredits {
	TEXT-ALIGN: center
}
#siteinfoStatus {
	TEXT-ALIGN: center
}
#siteinfoIP {
	TEXT-ALIGN: center
}
.center {
	TEXT-ALIGN: center
}
.cartRemoveItemDisplay {
	TEXT-ALIGN: center
}
.cartQuantityUpdate {
	TEXT-ALIGN: center
}
.cartQuantity {
	TEXT-ALIGN: center
}
.cartTotalsDisplay {
	TEXT-ALIGN: center
}
#cartBoxGVBalance {
	TEXT-ALIGN: center
}
.productListing-data {
	TEXT-ALIGN: center
}
.accountQuantityDisplay {
	TEXT-ALIGN: center
}
.ratingRow {
	TEXT-ALIGN: center
}
LABEL#textAreaReviews {
	TEXT-ALIGN: center
}
#productMainImage {
	TEXT-ALIGN: center
}
#reviewsInfoDefaultProductImage {
	TEXT-ALIGN: center
}
#productReviewsDefaultProductImage {
	TEXT-ALIGN: center
}
#reviewWriteMainImage {
	TEXT-ALIGN: center
}
.centerBoxContents {
	TEXT-ALIGN: center
}
.specialsListBoxContents {
	TEXT-ALIGN: center
}
.categoryListBoxContents {
	TEXT-ALIGN: center
}
.additionalImages {
	TEXT-ALIGN: center
}
.centerBoxContentsSpecials {
	TEXT-ALIGN: center
}
.centerBoxContentsAlsoPurch {
	TEXT-ALIGN: center
}
.centerBoxContentsFeatured {
	TEXT-ALIGN: center
}
.centerBoxContentsNew {
	TEXT-ALIGN: center
}
.gvBal {
	TEXT-ALIGN: center
}
.attribImg {
	TEXT-ALIGN: center
}
.additionalImages A {
	TEXT-DECORATION: none
}
#bestsellers .wrapper {
	MARGIN: 0em 0em 0em 1.5em
}
#bestsellers OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#bestsellers LI {
	PADDING-BOTTOM: 0px; MARGIN: 0.3em 0em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#upProductsHeading {
	TEXT-ALIGN: left
}
#upDateHeading {
	TEXT-ALIGN: right
}
A.category-top {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 0px; FONT: 12px arial; BACKGROUND: url(../images/arrow.gif) no-repeat 0px 4px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
A.category-links {
	COLOR: #004080; TEXT-DECORATION: none
}
A.category-links:visited {
	COLOR: #004080; TEXT-DECORATION: none
}
.categories-top-list {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/dotted_line.gif) repeat-x 0px top; PADDING-TOP: 4px
}
.no-dots {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.sub-count {
	LINE-HEIGHT: 12px !important; COLOR: #aaaaaa
}
.subcategory {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.subcategory A {
	LINE-HEIGHT: 12px !important
}
A.category-subs {
	COLOR: #0075e2; TEXT-DECORATION: underline
}
A.category-products {
	COLOR: #0075e2; TEXT-DECORATION: underline
}
A.category-subs:hover {
	TEXT-DECORATION: none
}
A.category-products:hover {
	TEXT-DECORATION: none
}
SPAN.category-subs-parent {
	FONT-WEIGHT: bold
}
SPAN.category-subs-selected {
	FONT-WEIGHT: bold
}
.back {
	FLOAT: left
}
.forward {
	FLOAT: right
}
#shoppingCartDefault #PPECbutton {
	FLOAT: right
}
.bold {
	FONT-WEIGHT: bold
}
.rowOdd {
	BACKGROUND-COLOR: #f4f4f4; HEIGHT: 1.5em; VERTICAL-ALIGN: top
}
.rowEven {
	BACKGROUND-COLOR: #fdfdfd; HEIGHT: 1.5em; VERTICAL-ALIGN: top
}
.hiddenField {
	DISPLAY: none
}
.visibleField {
	DISPLAY: inline
}
CAPTION {
	
}
#myAccountGen LI {
	MARGIN: 0px
}
#myAccountNotify LI {
	MARGIN: 0px
}
.accountTotalDisplay {
	TEXT-ALIGN: right; WIDTH: 20%
}
.accountTaxDisplay {
	TEXT-ALIGN: right; WIDTH: 20%
}
.accountQuantityDisplay {
	WIDTH: 10%; VERTICAL-ALIGN: top
}
TR.tableHeading {
	BACKGROUND-COLOR: #dadada; HEIGHT: 2em
}
.productListing-rowheading {
	BACKGROUND-IMAGE: url(../images/tile_back.gif); BACKGROUND-COLOR: #cfd8e6; HEIGHT: 2em
}
.tabTable {
	MARGIN: 6px 0px 4px
}
.tabTable TD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 12px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 12px
}
.productListing-even {
	BACKGROUND-COLOR: #f7f7f3
}
#siteMapList {
	WIDTH: 90%; FLOAT: right
}
.ratingRow {
	MARGIN: 1em 0em 1.5em
}
LABEL#textAreaReviews {
	MARGIN: 1em 0em; FONT-WEIGHT: normal
}
#popupShippingEstimator {
	BACKGROUND-COLOR: #ffffff
}
#popupSearchHelp {
	BACKGROUND-COLOR: #ffffff
}
#popupAdditionalImage {
	BACKGROUND-COLOR: #ffffff
}
#popupImage {
	BACKGROUND-COLOR: #ffffff
}
#popupCVVHelp {
	BACKGROUND-COLOR: #ffffff
}
#popupCouponHelp {
	BACKGROUND-COLOR: #ffffff
}
#popupAtrribsQuantityPricesHelp {
	BACKGROUND-COLOR: #ffffff
}
#infoShoppingCart {
	BACKGROUND-COLOR: #ffffff
}
.information {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 150%; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 10px
}
#shoppingcartBody #shippingEstimatorContent {
	CLEAR: both
}
.seDisplayedAddressLabel {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #85c285
}
.seDisplayedAddressInfo {
	TEXT-ALIGN: center; TEXT-TRANSFORM: uppercase; FONT-WEIGHT: bold
}
#seShipTo {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; PADDING-TOP: 0.2em
}
.font14 {
	FONT-SIZE: 14px
}
.table_css {
	HEIGHT: 140px
}
.divMainTabsslx {
	PADDING-LEFT: 17px; WIDTH: 680px; BACKGROUND: url(../images/lx_nav.jpg) repeat-x; HEIGHT: 35px
}
.divMainTabsslx UL LI {
	TEXT-ALIGN: center; WIDTH: 100px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden; MARGIN-RIGHT: 4px
}
.normalsslx {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; HEIGHT: 30px; OVERFLOW: hidden; CURSOR: pointer; MARGIN-RIGHT: 4px
}
.selectedsslx {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 100px; BACKGROUND: url(../images/lx_nav2.jpg) no-repeat; HEIGHT: 30px; CURSOR: pointer; MARGIN-RIGHT: 4px
}
.divContentsslx {
	TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; WIDTH: 675px; HEIGHT: auto; CLEAR: both
}
