.cssButton {
	BORDER-BOTTOM: #f4f4f4 2px outset; TEXT-ALIGN: center; BORDER-LEFT: #f4f4f4 2px outset; PADDING-BOTTOM: 0.3em; BACKGROUND-COLOR: #f4f4f4; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; COLOR: #000000; FONT-SIZE: 1.1em; BORDER-TOP: #f4f4f4 2px outset; FONT-WEIGHT: bold; BORDER-RIGHT: #f4f4f4 2px outset; TEXT-DECORATION: none !important; PADDING-TOP: 0.3em
}
.cssButtonHover {
	BORDER-BOTTOM: #f4f4f4 2px outset; TEXT-ALIGN: center; BORDER-LEFT: #f4f4f4 2px outset; PADDING-BOTTOM: 0.3em; BACKGROUND-COLOR: #f4f4f4; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; COLOR: #000000; FONT-SIZE: 1.1em; BORDER-TOP: #f4f4f4 2px outset; FONT-WEIGHT: bold; BORDER-RIGHT: #f4f4f4 2px outset; TEXT-DECORATION: none !important; PADDING-TOP: 0.3em
}
.cssButtonHover {
	BORDER-BOTTOM-STYLE: inset; BORDER-RIGHT-STYLE: inset; BORDER-TOP-STYLE: inset; COLOR: #000000; BORDER-LEFT-STYLE: inset; TEXT-DECORATION: none
}
.small_delete {
	
}
.button_prev {
	
}
.button_next {
	
}
.button_search {
	
}
.button_sold_out_sm {
	
}
.button_sold_out {
	
}
.button_update_cart {
	
}
.button_checkout {
	
}
.button_login {
	
}
.button_return_to_product_list {
	
}
.button_add_selected {
	
}
.button_in_cart {
	
}
.button_submit {
	
}
.button_update_cart {
	COLOR: red
}
.button_update_cartHover {
	COLOR: #003d00
}
.button-search-header {
	MARGIN: 0px; WIDTH: 20px; FLOAT: left
}
